<% include ./partials/header %>
<main style="
height: 100vh;
width: 100%;
"
class="d-flex justify-content-center align-items-center"
>
<div class="container text-center">
<h1 class="display-1 text-white">
    <span class="box px-3 shadow">4</span>
    <span class="box px-3 shadow">0</span>
    <span class="box px-3 shadow">4</span>
</h1>
<h2 class="h2 text-secondary py-2">Page not found</h2>
<a href="/" class='btn btn-dark mt-4 py-2 shadow'><u>Back to Homepage</u></a>
</div>

</main>
<% include ./partials/footer %>